<div class="container mt-4 mb-5">
    <h3 class="fw-bold mb-4">🍽️ Restaurants Management</h3>

    <div class="row g-4">
        <div class="col-md-4" *ngFor="let restaurant of restaurants">
            <div class="card h-100 shadow-sm border-0">
                <img [src]="'assets/' + restaurant.image" class="card-img-top" alt="{{ restaurant.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ restaurant.name }}</h5>
                    <p class="mb-1"><strong>Cuisine:</strong> {{ restaurant.cusine.replace('_', ' ') }}</p>
                    <p><strong>Rating:</strong> ⭐ {{ restaurant.rating }}</p>
                    <a [routerLink]="['/admin/restaurants', restaurant.id, 'menu']"
                        class="btn btn-outline-primary btn-sm mt-2">
                        Manage
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
